<div class="row educacion">
    <h1 style="text-decoration: underline;">educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <button class="btn btn-light">agregar</button>
        <ul>
            <li>
                <h1>Argentina Programa #seprogramar</h1>- <h3>08/21-10/21</h3>
            </li>
            <p>primera parte del curso a cargo de la plataforma mumiki.io, donde vimos los fundamento de la
                programacion, pasando por un lenguaje caracteristico para ver las bases de la programacion,
                siendo este el lenguaje gobstone, luego se centro en las bases de programacion en javascript y
                la solucion de ejercicios, y por ultimo las bases de la programacion orientada a objetos con el
                lenguaje ruby.</p>
                <button class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg></button>
                <button class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg></button>
        </ul>
        <ul>
            <li>
                <h1>Argentina Programa #yoprogramo</h1>- <h3>11/21-05/22</h3>
            </li>
            <p>segunda parte del curso, esta vez encargado por el inti, en sus propia plataforma correspondiente a el curso en
                particular, consto de un total de 9 modulos, donde se vio utilizacion de git, github, gitbash, busquedas avanzadas
                en internet, metodologias agiles, en particular la metodologia scrum, siguiendo con html basico y html 5, css, y bootstrap
                para ver maquetado estatico, asi como lo basico del manejo del dom en javascript, siguendo con el maquetado dinamico,
                en angular y la utilizacion de typescript, pasando por base de datos relacionales, mysql,siguiendo programacion web con
                el lenguaje java, y para la utilizacion de este en el modulo de back end, con la implementacion de jpa, y terminando
                con la implementacion de springboot para el backend y la seguridad de este encargada en jwt.</p>
                <button class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg></button>
                <button class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg></button>
        </ul>
    </div>
</div>