
<div class="row">
<!--navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-info sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand login" href="#">login</a>
    <!--<button class="btn btn-light">login</button>-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item text-end d-flex align-items-center">
          <a class="nav-link active" aria-current="page" href="#">#YoProgramo</a>
        </li>
        <li class="nav-item text-end d-flex align-items-center">
          <a class="nav-link active" aria-current="page" href="https://www.linkedin.com/in/miguel-sotelo-6479ab218/"><img src="assets/linkedin icono.png" alt="linkedin"></a>
        </li>
        <li class="nav-item text-end d-flex align-items-center">
          <a class="nav-link" href="https://github.com/miguelsotelo01"><img src="assets/github icono.png" alt="github"></a>
        </li>
        <li class="nav-item text-end d-flex align-items-center">
          <a class="nav-link" href="https://www.facebook.com/miguel.sotelo.3363"><img src="assets/facebook icono.png" alt="facebook"></a>
        </li>
        <li class="nav-item text-end">
          <a class="nav-link" href="#"><img src="assets/APLogo-20-20.png" alt="arg-prog" width="110px" height="70px"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--navbar-end-->
</div>