<div class="row">
    <div class="container">
    <div class="acerca">
        <span>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
  </svg>
    editar
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
              <label for="acercaDe" style="text-decoration: underline;">editar descripcion</label>
              <input type="text" name="acercaDe" class="form-control" id="acercaDe" aria-describedby="emailHelp" placeholder="descripcion">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    <h1>Acerca De Mi.</h1>
    <h5>
        <P class="text">buenos dias, yo soy Miguel Angel Sotelo, este es mi primer Portfolio, hecho para el curso de Argentina
            Programa, soy oriundo de la Provincia de Tucuman, en la ciudad de Monteros, tengo 24 años
            actualmente y estoy estudiando programacion desde mediados del año 2021, con la primera parte de Argentina 
            Programa  #seprogramar y actualmente estoy terminando la segunda etapa #yoprogramo.</P>
        </h5>
    </span>
</div>
</div>
</div>